
        <div class="flex justify-between mb-6">
            <div>
                <h1 class="text-4xl text-font font-extrabold dark:text-white">Survei</h1>
                <h2 class="text-2xl text-font font-normal dark:text-white"><%= loggedInUser?.direktoratName || loggedInUser?.satkerName || '' %></h2>
            </div>
            <% if (loggedInUser && loggedInUser.roles.some(role => role.includes('ROLE_OPERATOR'))) { %>
            <a href="/surveys/add">
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tambah Kegiatan</button>
            </a>
            <% } %>
        </div>

        <table class="mt-6" id="export-table">
            <thead>
                <tr class="bg-primary bg-opacity-50 text-fontdark">
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Id
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Nama Aktivitas
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Program
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Penanggung Jawab
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Status
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Aksi
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% kegiatans.forEach(function(kegiatan) { %>
                  <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer">
                    <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= kegiatan.id %></td>
                    <td class="dark:text-white"><%= kegiatan.name %></td>
                    <td class="dark:text-white"><%= kegiatan.programName %></td>
                    <td class="dark:text-white"><%= kegiatan.direktoratPjName %></td>
                    <td class="font-semibold <%= 
                        kegiatan.kategori === 'Selesai' 
                            ? 'text-green-600' 
                            : kegiatan.kategori === 'Terlambat' 
                            ? 'text-red-600' 
                            : kegiatan.kategori === 'Berjalan' 
                                ? 'text-blue-600' 
                                : 'text-gray-800' 
                    %>">
                        <%= kegiatan.kategori %>
                    </td>
                    <td class="dark:text-white">
                      <div class="flex justify-center items-center align-middle">
                        <a href="/surveys/detail/<%= kegiatan.id %>" class="px-1">
                            <i data-tooltip-target="tooltip-detailKegiatan-<%= kegiatan.id %>" class="fa-solid fa-circle-info text-green-500 text-lg"></i>
                            <div id="tooltip-detailKegiatan-<%= kegiatan.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                                Lihat Detail Kegiatan
                                <div class="tooltip-arrow" data-popper-arrow></div>
                            </div>
                        </a>
                        
                        <% if (loggedInUser && loggedInUser.roles.some(role => role.includes('ROLE_OPERATOR'))) { %>
                        <a href="/surveys/<%= kegiatan.id %>/update" data-tooltip-target="tooltip-updateKegiatan-<%= kegiatan.id %>" class="px-1">
                          <i class="fa-solid fa-pen-to-square text-blue-500 text-lg"></i>
                        </a>
                        <div id="tooltip-updateKegiatan-<%= kegiatan.id %>" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                            Perbarui Data Kegiatan
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                        <% } %>
                      </div>
                    </td>
                  </tr>
                <% }); %>
              </tbody>              
        </table>
