
        <div class="flex justify-between mb-6">
            <h1 class="text-4xl text-font font-extrabold dark:text-white">Manajemen Pengguna</h1>
            <% if (loggedInUser && loggedInUser.roles.some(role => role.includes('ROLE_SUPERADMIN'))) { %>
            <a href="/users/add">
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tambah Pengguna</button>
            </a>
            <% } %>
        </div>

        <table class="mt-6" id="search-sort-table">
            <thead>
                <tr>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Id
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Nama Lengkap
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Email
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Status
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Peran
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Aksi
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% if (userDtos && userDtos.length > 0) { %>
                  <% userDtos.forEach(function(userDto) { %>
                    <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer">
                      <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= userDto.id %></td>
                      <td class="dark:text-white"><%= userDto.name %></td>
                      <td class="dark:text-white"><%= userDto.email %></td>
                      <td class="dark:text-white">
                        <% if (userDto.isActive) { %>
                            <span class="text-green-600 font-semibold">Aktif</span>
                        <% } else { %>
                            <span class="text-red-600 font-semibold">Tidak Aktif</span>
                        <% } %>
                      </td>
                      <td class="dark:text-white">
                        <a href="/users/<%= userDto.id %>/roles">
                            <button class="text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-yellow-500 dark:hover:bg-yellow-600 dark:focus:ring-yellow-700">Kelola Peran</button>
                        </a>
                      </td>
                      <td class="dark:text-white">
                        <div class="flex space-x-2">
                            <button class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700" 
                                data-user='<%- JSON.stringify(userDto) %>' onclick="showUserDetailModal(<%= userDto.id %>)">
                                    Detail
                            </button>
                            
                            <a href="/users/<%= userDto.id %>/update">
                                 <button class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-500 dark:hover:bg-green-600 dark:focus:ring-blue-700" 
                                data-user='<%- JSON.stringify(userDto) %>'>
                                    Update
                                </button>
                            </a>
                        </div>
                      </td>
                    </tr>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="4" class="text-center dark:text-white">Data tidak tersedia</td>
                  </tr>
                <% } %>
            </tbody>              
        </table>

        <div id="userDetailModal" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto h-screen bg-black bg-opacity-50 flex items-center justify-center">
            <div class="relative w-full max-w-sm bg-white rounded-lg shadow dark:bg-gray-800 p-6">
                <h2 class="text-2xl font-bold mb-4 dark:text-white">Detail Pengguna</h2>
                <div class="flex justify-center mb-4">
                <div id="userAvatar" class="rounded-full bg-gray-700 p-5">
                    <!-- Icon kamera -->
                    <svg class="w-10 h-10 text-white dark:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 12.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 3h-2l-.447-.894A2 2 0 0 0 12.764 1H7.236a2 2 0 0 0-1.789 1.106L5 3H3a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a2 2 0 0 0-2-2Z"/>
                    </svg>
                </div>
                </div>

                <div class="space-y-2"> 
                <form class="max-w-sm mx-auto">
                    <div>
                        <label for="detailName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama</label>
                        <input disabled type="text" id="detailName" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div>
                        <label for="detailEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input disabled type="text" id="detailEmail" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div>
                        <label for="detailSatker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Satker</label>
                        <input disabled type="text" id="detailSatker" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div id="direktoratField">
                        <label for="detailDirektorat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direktorat</label>
                        <input disabled type="text" id="detailDirektorat" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div>
                        <label for="detailRoles" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                        <input disabled type="text" id="detailRoles" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div>
                        <label for="detailStatus" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                        <input disabled type="text" id="detailStatus" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </form>

                <!-- <p class="text-gray-800 dark:text-white"><strong>Nama:</strong> <span id="detailName"></span></p>
                <p class="text-gray-800 dark:text-white"><strong>Email:</strong> <span id="detailEmail"></span></p>
                <p class="text-gray-800 dark:text-white"><strong>Satker:</strong> <span id="detailSatker"></span></p>
                <p class="text-gray-800 dark:text-white"><strong>Role:</strong> <span id="detailRoles"></span></p>
                <p class="text-gray-800 dark:text-white"><strong>Status:</strong> <span id="detailStatus"></span></p>
                <p class="text-gray-800 dark:text-white hidden" id="direktoratField"><strong>Direktorat:</strong> <span id="detailDirektorat"></span></p> -->
                </div>

                <div class="mt-6 flex justify-between text-center">
                    <button id="gantiStatus" onclick="" class="mt-4 text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-yellow-500 dark:hover:bg-yellow-600 dark:focus:ring-yellow-700"></button>
                    <button onclick="closeUserDetailModal()" class="mt-4 bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 font-medium rounded-lg">Tutup</button>
                </div>
            </div>
        </div>

<script src="/js/userDetailModal.js"></script>