<div class="p-4 sm:ml-64">
    <div class="p-4 mt-14">
        <div class="flex justify-between mb-6">
            <h1 class="text-4xl text-font font-extrabold dark:text-white">Manajemen Pengguna</h1>
            <a href="/admin/users/add">
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Tambah Pengguna</button>
            </a>
        </div>

        <table class="mt-6" id="search-sort-table">
            <thead>
                <tr>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Id
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Nama Lengkap
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Email
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Peran
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                    <th class="dark:text-white">
                        <span class="flex items-center">
                            Aksi
                            <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                            </svg>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% if (userDtos && userDtos.length > 0) { %>
                  <% userDtos.forEach(function(userDto) { %>
                    <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer">
                      <td class="font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= userDto.id %></td>
                      <td class="dark:text-white"><%= userDto.name %></td>
                      <td class="dark:text-white"><%= userDto.email %></td>
                      <td class="dark:text-white">
                        <a href="/admin/users/<%= userDto.id %>/roles">
                            <button class="text-white bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-yellow-500 dark:hover:bg-yellow-600 dark:focus:ring-yellow-700">Kelola Peran</button>
                        </a>
                      </td>
                      <td class="dark:text-white">
                        <div class="flex space-x-2">
                            <a href="/admin/users/detail/<%= userDto.id %>">
                                <button class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700">Detail</button>
                            </a>
                        </div>
                      </td>
                    </tr>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="4" class="text-center dark:text-white">Data tidak tersedia</td>
                  </tr>
                <% } %>
            </tbody>              
        </table>
    </div>
</div>